# Normalize line endings to LF in the repository and working tree.
* text=auto eol=lf

# Binary assets
*.dll binary
*.exe binary
*.pdb binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.snupkg binary
*.nupkg binary
